package dto

type Create{{.EntityName}}Request struct {
{{- range .Fields }}
	{{- if ne .Name "ID" }}
	{{.Name}} {{.Type}} `json:"{{ ToLower .Name }}" validate:"required"`
	{{- end }}
{{- end }}
}

type Update{{.EntityName}}Request struct {
{{- range .Fields }}
	{{.Name}} {{.Type}} `json:"{{ ToLower .Name }}" validate:"required"`
{{- end }}
}

type {{.EntityName}}Response struct {
{{- range .Fields }}
	{{.Name}} {{.Type}} `json:"{{ ToLower .Name }}"`
{{- end }}
}
